/* rect(top, right, bottom, left) */

#attachmentextractor-toolbarbutton {
  list-style-image: url("chrome://attachmentextractor/skin/attachmentextractor24.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}

#attachmentextractor-toolbarbutton:hover {
  -moz-image-region: rect(0px 48px 24px 24px);
}

#attachmentextractor-toolbarbutton[disabled] {
  -moz-image-region: rect(0px 72px 24px 48px) !important;
}

toolbar[iconsize="small"] #attachmentextractor-toolbarbutton {
  list-style-image: url("chrome://attachmentextractor/skin/attachmentextractor16.png");
  -moz-image-region: rect(0px 16px 16px 0px);
}

toolbar[iconsize="small"] #attachmentextractor-toolbarbutton:hover {
  -moz-image-region: rect(0px 32px 16px 16px);
}

toolbar[iconsize="small"] #attachmentextractor-toolbarbutton[disabled] {
  -moz-image-region: rect(0px 48px 16px 32px) !important;
}

.hdrAEButton[ae="true"] { 
  -moz-box-orient: vertical !important;
  list-style-image: url("chrome://attachmentextractor/skin/attachmentextractor16.png") !important;
  -moz-image-region: rect(1px 15px 15px 1px);
  				    /* top right bottom left  */
}

.hdrAEButton[ae="true"]:hover { 
  -moz-image-region: rect(1px 31px 15px 17px);
}
